<header class="primary-nav">

  <div class="primary-nav-inner">
    <a href="/" class="primary-nav-left">
      <button id="main-nav-button" class="nav-logo-button bg-transparent">
        <amp-img src="/img/amp-starter-logo-primary.svg"
                 alt="Articles"
                 class="nav-logo-button"
                 width="150"
                 height="30">
        </amp-img>
      </button>
    </a>

    <div class="primary-nav-right">
      <a href="/articles">
        <button id="articles-nav-button" class="bg-transparent">
          Articles
        </button>
      </a>
    </div>
  </div>

</header>
<div class="header-spacer"></div>
