<header class="primary-nav">

  <div class="primary-nav-inner">
    <a href="/" class="primary-nav-left">
      <button id="main-nav-button" class="nav-logo-button bg-transparent">
        <amp-img src="/img/amp-project-starter-logo.svg"
                 class="jumbo-image"
                 alt="Articles"
                 width="100"
                 height="40">
        </amp-img>
      </button>
    </a>

    <div class="primary-nav-right">
  
      <a href="/">
        <button id="home-nav-button" class="bg-transparent">
          Home
        </button>
      </a>
      <a href="/articles">
        <button id="articles-nav-button" class="bg-transparent">
          Articles
        </button>
      </a>
    </div>
  </div>

</header>
<div class="header-spacer"></div>
