.code-well {
  max-width: 80vw;
  display: block;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  background-color: #f0f0f0;
  color: black;
  text-align: left;
  font-family: monospace;
  padding: 20px;

  white-space: pre;
  overflow-x: scroll;
}
.code-well::-webkit-scrollbar {
  display: none;
}
